#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
ifeq ($(DEB_HOST_ARCH),amd64)
	GOOS=linux GOARCH=amd64 go build -ldflags="-s -w" -o hello-go
endif
ifeq ($(DEB_HOST_ARCH),arm64)
	GOOS=linux GOARCH=arm64 go build -ldflags="-s -w" -o hello-go
endif
